<%= image_tag "screen.png", :style => "float:right;" %>

<p>Literature is a score set for the human voice: through the imagination, we are able to construct a person and their experience, to feel what it means to be alive and aware of life. What is necessarily lacking from a text, though, is performance—we lose access to the immediate presence of the artist. With <i>Scarab</i>, we want to provide the chance to experience both, simultaneously.</p>

<p>The necessary technology isn’t new: web journals provide a chance to unite text and sound, but lack the pleasure and intimacy of books or the purity of enjoying music because they’re limited to the computer. Literature should be experienced as easily out in nature as on a train, in a coffee shop or in a cubicle: it should be as easy as pulling a book from your bag.</p>

<p>We built <i>Scarab</i> because we wanted to put poetry and prose back in your pocket, to make it a part of your daily life again. Because we believe in the power of the voice to deepen our understanding of what it means to be human, we wanted to share it with you.</p>

<p><i>More screenshots coming soon!</i></p>

<p><%= link_to "Back to homepage", root_path %></p>