<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>Edit Bio</h3>
		<span>Just a little extra information we hope you'll share</span>
	</div>
</div>

<div id="interior-body">
  <%= render :partial => "form" %>
</div>