<h2>Sign up for our mailing list!</h2>

<p>
  We use our mailing list to let you know about exciting new issues and content and other big updates on our side.
</p>
<p>
  It is very low volume (only about once a month) and we promise not to spam you or sell your email address to a third party.
</p>

<% form_for @mailing_list_recipient, :url => mailing_list_recipients_path do |f| -%>
  <div class="mailing-list-form">
    <div><%= f.label :email %></div>
    <div><%= f.text_field :email, :class => "text" %></div>
    <div><%= f.error_message_on :email %></div>
    <%= submit_tag 'Sign up', :class => 'button' %>
  </div>
<% end -%>

<div class="clearfix"></div>
