<p>
  Please use this link to choose a new password.
  Your password will remain the same if no action is taken.
</p>

<p>
  <%= link_to @url, @url %>
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>