<p>
  Thank you for signing up with <i>Scarab</i>. 
  Please take this time to activate your account with the link provided.
</p>

<p>
  <%= link_to @url, @url %>
</p>

<p>
  Email: <%=h @user.email %>
  <br/>Password: <%=h @user.password %>
</p>