<h2>Update</h2>

<%= iphone_display @update.body %>

<i>Update #<%= @update.number %></i>
<br/>
<i><%= publication_time @update.published_at %></i>

<p>
  <%= link_to "Edit", edit_admin_update_path(@update) %>
</p>