<h3>Authors</h3>

<% if @authors.empty? %>
  <p>
    No authors.
  </p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Issue Count</th>
    </tr>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, [:admin, author] %></td>
        <td><%= author.issues.count %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @authors %>
<% end %>

<br/>
<p>
  Authors are considered "published" once they are referenced in an issue.  After that point, all content is seen by
  the public&mdash;so double check spelling, proofread bios, and make sure all links are accurate before then!
</p>

<%= link_to "New Author", new_admin_author_path %>