/* Homepage
 * --------------------------------------------------------------------- */
#logo {
  text-align: center; 
  margin-bottom: 70px; 
  background: #7a82a6;
}
.highlights { 
  margin-bottom: 10px;
  background: #7a82a6; 
  padding: 10px 10px 10px 10px;
  color: #222;
  font-size: 9px;
}
.highlights span {
  font-size: 12px;
  color: #000;
}
.highlights .text {
  width: 170px;
  border: 1px solid #7a82a6;
}
.highlights .text:focus {
  border: 1px solid #4a4048;
}
.highlights .submit-your-work {
  font-size: 24px;
  text-align: center;
  margin-bottom: 14px;
}
.highlights .submit-your-work a {
  color: #000;
  padding: 5px;
}
.highlights .submit-your-work p {
  font-size: 10px;
  margin-bottom: 14px;
}
#description {
  padding-bottom: 10px;
  text-align: right;
}
#description p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
  color: #222;
}
#description p span {
  font-size: 18px;
  color: #000;
}
#description a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  padding: 3px;
}
#description a:hover {
  background-color: #b49cad;
}
.footer a {
  color: #000;
}
h2 {
  margin-bottom:3px;
}

/* EOF */
