<h2>Interview with <%= link_to @interview.author.name, [:admin, @interview.author] %></h2>
<h3><%= @interview.date %></h3>

<%= render :partial => "/admin/common/publish", :locals => { :publishable => @interview } %>