<% if current_user.has_promise? %>
  <br/>
  <br/>
  <div id="has-promise">
    <h3>You are a Selected Contributor</h3>
    Our editors are very excited to see more work from you.  Your submissions show up in a separate list and are reviewed
    before the slush pile.  Congrats, and please submit more!
  </div>
<% end %>