<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>Request password reset</h3>
		<span>No worries, we all do it.</span>
	</div>
</div>

<div id="interior-body">
  <%= error_messages_for :user %>

  <p>Enter your email address below and we will send you a link to enable you to reset your password.</p>

  <% form_for :user do |f| -%>

  <p><%= f.label :email %><br />
  <%= f.text_field :email, :class => "text" %></p>

  <p><%= submit_tag 'Submit', :class => "button" %></p>
  <% end -%>
</div>