<a href="http://itunes.com/apps/scarab" class="app-store-interior">Available in the iPhone App Store</a>

<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>Uh oh!</h3>
		<span>Don't worry, I'm sure it's not serious.</span>
	</div>
</div>

<div id="interior-body">
  <p class="large-text">There was a small error signing you up.  Would you like to try again?  Please double check your credentials!</p>
  
	<%= render :partial => "form" %>
</div>