<a href="http://itunes.com/apps/scarab" class="app-store-interior">Available in the iPhone App Store</a>

<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>Thanks!</h3>
		<span>We hope you win the most.</span>
	</div>
</div>

<div id="interior-body">
  <p class="large-text">Thank you for entering.  Be sure to be following us on February 14th so that we can send you a direct message if you win!</p>
  
  <p>Also, don't forget about our weekly drawings for $10 iTunes gift cards, available to anyone who has our app installed.  The app is free and there's no obligation to buy anything.  Just <%= link_to "download the app", "http://itunes.com/apps/scarab" %>, tap the "More..." tab on the bottom, and choose "Free iTunes Gift Cards."  Use that form to send us your email so that we can contact you if you win, make sure you allow us to send push notifications for when we publish new issues, and as long as you have it installed you'll have a chance to win that free $10 card every single week.</p>

  <br/>
  <p>Questions or comments about these promotions? Send them to <%= link_to "giveaways@scarabmag.com", "mailto:giveaways@scarabmag.com" %>.
</div>