<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Congratulations! Scarab is excited to accept your <%= @submission.prose? ? "story" : "poem" %>, <i><%=h @submission.title %></i>. 
</p>

<p>
  We will be in touch soon to find out if it is still available and to start recording!  If you haven't heard from us in a few days, please log in and make sure we have your correct phone number in the "My Bio" section.  If you still haven't heard from us for a few days after that, please get in touch with our lead editor Brian Wilkins directly.  He can be reached at <a href="mailto:wilkins.brian@gmail.com">wilkins.brian@gmail.com</a> and by phone at <nobr>(540) 460-3640</nobr>.
</p>

<p>
  Congratulations again!
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
