<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Your work entitled <i><%=h @work.title %></i> was promoted to the second reading, which makes you one of our select contributors. 
  Anything you submit from now on will go immediately to the second reading, because our editors are excited about your work. 
</p>

<p>
  We will send you our final decision soon.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
