<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Thank you for submitting to <i>Scarab</i>.
</p>

<p>
  Because you are one of our select contributors, your work <i><%=h @work.title %></i> has automatically been moved to the second reading queue.
</p>

<p>
  We will send you our final decision soon.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
