<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Thank you for submitting to <i>Scarab</i>. 
</p>

<p>
  <i><%=h @submission.title %></i> is in its first reading. Keep an eye out for our emails &mdash; you’ll be hearing from us soon.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
