<p>
  Dear <%=h @user.name %>,
</p>

<p>
  While we enjoyed your piece entitled <i><%=h @work.title %></i>, we cannot use it in <i>Scarab</i> at this time.
</p>

<p>
  Please submit again soon, and remember that as a select contributor, your work is always at the top of our list.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
