<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Thank you for submitting to <i>Scarab</i>. 
</p>

<p>
  While it’s always a pleasure to read new work, we cannot use your piece entitled <i><%=h @work.title %></i> at this time.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
