<p>
  Dear <%=h @user.name %>,
</p>

<p>
  Thank you for submitting to <i>Scarab</i>. 
</p>

<p>
  We enjoyed reading your work and, while we cannot use your piece entitled <i><%=h @submission.title %></i> at this time, we hope you will send us more in the future.
</p>

<p>
  Sincerely,
  <br/>
  <i>Scarab</i>
</p>
