<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>FAQ</h3>
		<span>If you have any questions not here, email <a href="mailto:support@scarabmag.com">support@scarabmag.com</a></span>
	</div>
</div>

<div id="interior-body">

  <% @categories.each do |category| %>
    <h4><%= category.name %></h4>
  
    <% category.questions.each do |question| %>
      <p>
        <b><%= question.body %></b>
        <br/><%= question.answer %>
      </p>
    <% end %>
  
  <% end %>
</div>