<h3><%= @apple_payment.quarter.name %> :: <%= @apple_payment.code %></h3>
<h4>Total: <%= money @apple_payment.amount %></h4>

<p>
  <%= link_to "Edit", edit_admin_reports_apple_payment_path(@apple_payment) %>
</p>