<div class="column span-18 first last prepend-3 append-3 footer">
  <br/>  <br/>
  <p>
    &copy; 2009 Old Brick Press, LLC | 
    <%= link_to "Privacy Policy", privacy_policy_path, :class => "rounded-small" %>
  </p>
</div>

<div class="column span-18 first last prepend-3 append-3 footer" style="border:5px solid red; background:pink; padding: 10px; font-size:17px;">This is not the real Scarab site!  This is a test site.  Do not submit to this site.  Please visit <a href="http://www.scarabmag.com">www.scarabmag.com</a> to submit works.</div>