<div class="column span-18 first last prepend-3 append-3 footer">
  <br/>  <br/>
  <p>
    &copy; 2009 Old Brick Press, LLC | 
    <%= link_to "Privacy Policy", privacy_policy_path, :class => "rounded-small" %>
  </p>
</div>